/***************************
*  BUTTONS PANEL
*/
.blog .buttons-panel {
    display: flex;
    margin-top: 10px;
}


/* Continue reading button */
.blog .buttons-panel .continue-reading {    
    margin-right: 10px;   
}

