/***************************
*  BUTTONS PANEL
*/
.blog .buttons-panel {
    display: flex;
    margin-top: 10px;
}


/* Continue reading button */
.blog .buttons-panel .continue-reading {    
    margin-right: 10px;   
}

/* Share button */
.blog .buttons-panel .share {
    background-color: rgb(185, 185, 185);
    border-radius: 50px;
    width: 35px;
    height:35px;
    overflow: hidden;

    cursor: pointer;
    transition: width .4s ease-out;
    margin-right: 10px;

}

.blog .buttons-panel .share ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
}

.blog .buttons-panel .share .share-title {
    background-color: white;
    border: 1.5px solid black;
}

.blog .buttons-panel .share .share-title:hover {    
    border: 0;
}

.blog .buttons-panel .share li  {
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;

    overflow: hidden;
}


.blog .buttons-panel .share:hover {
    width: 230px;
}

.blog .buttons-panel .share .fa {
    text-decoration: none;
    color: black;

}

.blog .buttons-panel .share a,
.blog .buttons-panel .share i {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}


.blog .buttons-panel .share a.fa-facebook:hover {
    background-color: #3B5998;
    color: white;
}

.blog .buttons-panel .share a.fa-twitter:hover {
    background-color: #55ACEE;
    color: white;
}

.blog .buttons-panel .share a.fa-google:hover {
    background-color: #dd4b39;
    color: white;
}

.blog .buttons-panel .share a.fa-instagram:hover {
    background-color: #125688;
    color: white;
}


.blog .buttons-panel .share a.fa-youtube:hover {
    background-color: #bb0000;
    color: white;
}