/***************************
*  EXCERPT
*/

.blog .excerpt {
    margin-top: 10px;
    font-size: 15px;

    transition: max-height .5s;

}



/***************************
*  CONTENT
*/
.blog .content {
    margin-top: 10px;

    transition: max-height 1s;

}

.blog .content p {
    margin-top: 10px;
}

.blog .content ol,
.blog .content ul {
    margin-left: 25px;
    margin-bottom: 15px;
}

.blog .content ol li,
.blog .content ul li {
    margin-top: 10px;
    font-style: italic;
}

.blog .content img,
.blog .content figure {
    display: grid;
    width: 70%;
    margin: auto;
    height: auto;
    margin-top: 12px;

    

}

.blog .content figure img{
    width: 90%;
    height: auto;
}

.blog .content figure figcaption{
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    font-size: small;
}

/*******************************************
*  SHOW/HIDDEN EXCERPT AND CONTENT
*   They have different max-heights
*   because content sometimes is much
*   longer than excerpt. If the value
*   is the same and the transition time is
*   also the same, the speed will be weird
*/
.blog .excerpt.show {
    max-height: 300px;
}

.blog .content.show {
    max-height: 15000px;
}



.blog .hidden { 
    max-height: 0px;
}