.blog .separator {
    background-color: black;
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.blog .subtitle {
    width: 95%;
    margin: auto;
    margin-top: 3px;
    padding-left: 5px;
    background-color: rgb(219, 219, 219);

    font-size: 14px;
    
}


