/***************************
*  FEATURE IMAGE
*/

.blog .main-post .feature-image {
    width: 100%;
    margin: auto;

    border-radius: 20px;
    box-shadow: 0px 0px 3px black;
}


/***************************
*  TITLE
*/
.blog .main-post .title {
    width: 95%;
    margin: auto;
    margin-top: 10px;

    font-size: 22px;
    font-weight:700;
}


/***************************
*  META DATA
*/
.blog .main-post .subtitle {
    width: 95%;
    margin: auto;
    margin-top: 3px;
    padding-left: 5px;
    background-color: rgb(219, 219, 219);

    font-size: 14px;
    
}

.blog .main-post .subtitle .categories,
.blog .main-post .subtitle .tags,
.blog .main-post .subtitle .date-created,
.blog .main-post .subtitle .comment-link,
.blog .main-post .subtitle .author {
    margin-right: 10px;
    padding-right: 5px;
    border-right: .5px solid black;
    font-style: italic;
}

.blog .main-post .subtitle .author {
    border-right: 0;
}


.blog .main-post .subtitle .item {
    margin-right: 5px;
}



/* Add prefix to metadata */
.blog .main-post .subtitle .categories::before,
.blog .main-post .subtitle .tags::before,
.blog .main-post .subtitle .date-created::before,
.blog .main-post .subtitle .author::before {
    color: #3D5A80;
    font-weight: bold;
    font-style: normal;
}

.blog .main-post .subtitle .categories::before {
    content: "Categories: "
}

.blog .main-post .subtitle .tags::before {
    content: "Tags: ";
}

.blog .main-post .subtitle .date-created::before {
    content: "Date: ";
}

.blog .main-post .subtitle .author::before {
    content: "Author: ";
}



/***************************
*  EXCERPT
*/

.blog .main-post .excerpt {
    width: 95%;
    margin: auto;
    margin-top: 7px;
    font-size: 15px;

    transition: max-height .5s;

}



/***************************
*  CONTENT
*/
.blog .main-post .content {
    width: 95%;
    margin: auto;
    margin-top: 10px;

    transition: max-height 1s;

}


/*******************************************
*  SHOW/HIDDEN EXCERPT AND CONTENT
*   They have different max-heights
*   because content sometimes is much
*   longer than excerpt. If the value
*   is the same and the transition time is
*   also the same, the speed will be weird
*/
.blog .main-post .excerpt.show {
    max-height: 300px;
}

.blog .main-post .content.show {
    max-height: 2000px;
}



.blog .main-post .hidden { 
    max-height: 0px;
}


/***************************
*  BUTTONS PANEL
*/
.blog .main-post .buttons-panel {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 7px;
}


/* Continue reading button */
.blog .main-post .buttons-panel .continue-reading {    
    margin-right: 10px;   
}

/* Share button */
.blog .main-post .buttons-panel .share {
    background-color: rgb(185, 185, 185);
    border-radius: 50px;
    width: 35px;
    height:35px;
    overflow: hidden;

    cursor: pointer;
    transition: width .4s ease-out;
    margin-right: 10px;

}

.blog .main-post .buttons-panel .share ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
}

.blog .main-post .buttons-panel .share .share-title {
    background-color: white;
    border: 1.5px solid black;
}

.blog .main-post .buttons-panel .share .share-title:hover {    
    border: 0;
}

.blog .main-post .buttons-panel .share li  {
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;

    overflow: hidden;
}


.blog .main-post .buttons-panel .share:hover {
    width: 230px;
}

.blog .main-post .buttons-panel .share .fa {
    text-decoration: none;
    color: black;

}

.blog .main-post .buttons-panel .share a,
.blog .main-post .buttons-panel .share i {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}


.blog .main-post .buttons-panel .share a.fa-facebook:hover {
    background-color: #3B5998;
    color: white;
}

.blog .main-post .buttons-panel .share a.fa-twitter:hover {
    background-color: #55ACEE;
    color: white;
}

.blog .main-post .buttons-panel .share a.fa-google:hover {
    background-color: #dd4b39;
    color: white;
}

.blog .main-post .buttons-panel .share a.fa-instagram:hover {
    background-color: #125688;
    color: white;
}


.blog .main-post .buttons-panel .share a.fa-youtube:hover {
    background-color: #bb0000;
    color: white;
}