.blog .pagination,
.blog .pagination .num-pages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.blog .pagination .num-pages .page {
    width: 40px;
    height: 40px;

    margin-right: 3px;
}

.blog .pagination .page.current-page {
    box-shadow: 0 0 5px #EE6C4D;
    color: #5c291c;
    border: 4px;

}