@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    transition: transform .5s;
}

.App.side-bar-out {
    transform: translateX(-400px);
}

/**********************
* FONT
*/
h1 {
    font-family: 'Lobster', cursive;
    font-size: 47px;
}

h2 {    
    font-size: 25px;
    font-weight:700;
}

h3 {
    font-size: 22px;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}
/**********************
* BUTTON
*/

button {
    padding: 10px;
    border: 1px solid #EE6C4D;
    border-radius: 50px;
    background-color: inherit;

    cursor: pointer;
}

button:hover {
    background-color: #EE6C4D;
}


/**********************
* LINK ON TITLE
*/
.link-on-title {
    cursor: pointer;
    
}

.link-on-title:hover {
    text-decoration: underline;
    color: #b85840;
}