.post-with-intro  {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;

    margin-bottom: 20px;
    
    
}


.post-with-intro .main-post .excerpt {
    transition: max-height .5s;
}

.post-with-intro .main-post .content {
    transition: max-height 1s;
}

.post-with-intro .main-post .excerpt.show {
    max-height: 300px;
}

.post-with-intro .main-post .content.show {
    max-height: 2000px;
}
.post-with-intro .main-post .hidden {
    max-height: 0px;
}

.post-with-intro .main-post .feature-image {
    width: 100%;
    margin: auto;

    border-radius: 20px;
    box-shadow: 0px 0px 3px black;
}

.post-with-intro .main-post .title {
    width: 95%;
    margin: auto;
    margin-top: 10px;

    font-size: 22px;
    font-weight:700;
}

.post-with-intro .main-post .meta-data {
    width: 95%;
    margin: auto;
    margin-top: 3px;
    padding-left: 5px;
    background-color: rgb(219, 219, 219);

    font-size: 14px;
    
}

.post-with-intro .main-post .meta-data .item {
    margin-right: 5px;
}


.post-with-intro .main-post .meta-data .item::after {
    content: ",";
}

.post-with-intro .main-post .meta-data .item:last-child:after {
    content: "";
}


.post-with-intro .main-post .meta-data .categories,
.post-with-intro .main-post .meta-data .tags,
.post-with-intro .main-post .meta-data .date-created,
.post-with-intro .main-post .meta-data .comment-link,
.post-with-intro .main-post .meta-data .author {
    margin-right: 10px;
    padding-right: 5px;
    border-right: .5px solid black;
    font-style: italic;
}

.post-with-intro .main-post .meta-data .author {
    border-right: 0;
}

.post-with-intro .main-post .meta-data .categories::before,
.post-with-intro .main-post .meta-data .tags::before,
.post-with-intro .main-post .meta-data .date-created::before,
.post-with-intro .main-post .meta-data .author::before {
    color: #3D5A80;
    font-weight: bold;
    font-style: normal;
}

.post-with-intro .main-post .meta-data .categories::before {
    content: "Categories: "
}

.post-with-intro .main-post .meta-data .tags::before {
    content: "Tags: ";
}

.post-with-intro .main-post .meta-data .date-created::before {
    content: "Date: ";
}

.post-with-intro .main-post .meta-data .author::before {
    content: "Author: ";
}

.post-with-intro .main-post .excerpt {
    width: 95%;
    margin: auto;
    margin-top: 7px;
    font-size: 15px;
}

.post-with-intro .main-post footer {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 7px;
}

.post-with-intro .main-post .continue-reading {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #EE6C4D;
    padding: 6px;
    border-radius: 40px;
    margin-right: 10px;

    color: rgb(75, 75, 75);

    cursor: pointer;
}

.post-with-intro .main-post .continue-reading:hover {
    background-color: #EE6C4D;
    color: black;
}

.post-with-intro .main-post .share {
    background-color: rgb(185, 185, 185);
    border-radius: 50px;
    width: 35px;
    overflow: hidden;

    cursor: pointer;
    transition: width .4s ease-out;
}

.post-with-intro .main-post .share ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
}

.post-with-intro .main-post .share .share-title {
    background-color: white;
    border: 1.5px solid black;
}

.post-with-intro .main-post .share .share-title:hover {    
    border: 0;
}

.post-with-intro .main-post .share li  {
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;

    overflow: hidden;
}


.post-with-intro .main-post .share:hover {
    width: 230px;
}

.post-with-intro .main-post .share .fa {
    text-decoration: none;
    color: black;

}

.post-with-intro .main-post .share a,
.post-with-intro .main-post .share i {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}


.post-with-intro .main-post .share a.fa-facebook:hover {
    background-color: #3B5998;
    color: white;
}

.post-with-intro .main-post .share a.fa-twitter:hover {
    background-color: #55ACEE;
    color: white;
}

.post-with-intro .main-post .share a.fa-google:hover {
    background-color: #dd4b39;
    color: white;
}

.post-with-intro .main-post .share a.fa-instagram:hover {
    background-color: #125688;
    color: white;
}


.post-with-intro .main-post .share a.fa-youtube:hover {
    background-color: #bb0000;
    color: white;
}

.post-with-intro .main-post .content {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.post-with-intro .main-post .separator {
    background-color: black;
    height: 2px;
    width: 50%;
    margin: auto;
}

.post-with-intro .separator {
    background-color: black;
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.post-with-intro .other-posts {
    
    width: 95%;
    margin: auto;
    margin-top: 10px;    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}


.post-with-intro .other-posts .other-post {
    position: relative;
    table-layout: fixed;
    height: 250px;

    width: 45%;

    margin-bottom: 20px;
    overflow: hidden; 

      

    cursor: pointer;  


}

.post-with-intro .other-posts .other-post .feature-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(1.5px);

    transition: filter .3s, transform .3s;
}

.post-with-intro .other-posts .other-post .information {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    background-color: rgb(80, 80, 80);
    
    opacity: .6;
    color: white;

    padding-left: 5px;

    transition: opacity .3s;
  
}

.post-with-intro .other-posts .other-post:hover .feature-image {
    transform: scale(1.1);

    filter: blur(0px);
}


.post-with-intro .other-posts .other-post:hover .information {
    opacity: .9;
}
.post-with-intro .other-posts .other-post .information .title {
    font-size: 25px;
}

.post-with-intro .other-posts .other-post .information .meta-data {
    font-size: 12px;
    font-weight: bold;

}

.post-with-intro .other-posts .other-post .information .meta-data .date-created {
    
    margin-right: 5px;
}

.post-with-intro .other-posts .other-post .information .meta-data .date-created::after {
    content: ", ";
}

