@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




/******************
* Page-title
*/
.page-title {
    width: 95%;
    margin: auto;
}

.page-title .title {
    font-family: 'Lobster', cursive;
    font-size: 47px;
}

.page-title .subtitle {
    color: #EE6C4D;
    font-weight: 900;
    font-style: italic;
}

/******************
* NavBar
*/

.top-nav-bar {
    display: grid;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(109, 109, 109);
    padding: 10px;
}
.top-nav-bar ul {
    list-style-type: none;
}

.top-nav-bar .menu-title {
    border: 4px solid rgb(179, 179, 179);
    border-radius: 20px;
    padding: 12px;

    color:rgb(109, 109, 109);
    cursor: pointer;

}


.top-nav-bar .menu-title:hover {
    background-color: rgb(245, 245, 245);

}

.top-nav-bar .main-menu {
    padding: 0px 30px;
}

.top-nav-bar .main-menu li {
    margin: 10px 0px;
    padding: 10px 0px;
    color:rgb(151, 151, 151);
    cursor: pointer;

    transition: .1s color;
}

.top-nav-bar .main-menu li:hover {
    color: black;
}

.top-nav-bar .social-media-menu {
    padding: 0px 30px;
}

.top-nav-bar .social-media-menu ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    
}