@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.show {
    opacity: 1;
    max-height: 1000px;
}


/******************
* Page-title
*/
.page-title {
    width: 95%;
    max-width: 1025px;
    margin: 85px 10px 20px;

}

.page-title .title {
    font-family: 'Lobster', cursive;
    font-size: 47px;
}

.page-title .subtitle {
    color: #EE6C4D;
    font-weight: 900;
    font-style: italic;
}

/******************
* NavBar
*/

.top-nav-bar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(109, 109, 109);
    padding: 10px;

}

.top-nav-bar ul {
    list-style-type: none;
}

.top-nav-bar .menu-title {
    border: 4px solid rgb(179, 179, 179);
    border-radius: 20px;
    padding: 12px;

    color:rgb(109, 109, 109);
    cursor: pointer;

}


.top-nav-bar .menu-title:hover {
    background-color: rgb(245, 245, 245);

}

.top-nav-bar .main-menu {
    padding: 0px 30px;
    transition:  max-height .4s, opacity .4s;   
}

.top-nav-bar .main-menu li {
    margin: 10px 0px;
    padding: 10px 0px;
    color:rgb(151, 151, 151);
    cursor: pointer;

    transition: color .1s ;
}

.top-nav-bar .main-menu li:hover {
    color: black;
}

.top-nav-bar .social-media-menu {
    padding: 0px 30px;
    transition:  max-height .4s, opacity .4s;

}

.top-nav-bar .social-media-menu ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;    
}

.fa {
    font-size: 25px;
    text-decoration: none;
    color: black;

    transition: .5s color;
}

.fa-facebook:hover {
    color: #3B5998;
    
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-google:hover {
    color: #dd4b39;
}
.fa-instagram:hover {
    color: #125688;
}

.fa-youtube:hover {
    color: #bb0000;
}

.top-nav-bar .search-bar {
    margin-top: 10px;
    transition:  max-height .4s, opacity .4s;   
}

.top-nav-bar .search-bar input {
    border: 2px solid rgb(179, 179, 179);
    border-radius: 20px;
    padding: 12px;
    width: 100%;

    color:rgb(49, 49, 49);

    font-style: italic;

    background-color: white;


}

@media screen and (min-width: 596px) {
    .hidden {
        opacity: 1;
        max-height: 1000px;
    }

    .top-nav-bar .menu-title {
        display: none;
    
    }

    .top-nav-bar .main-menu {
        border-bottom: .5px solid rgb(182, 182, 182);

    }

    .top-nav-bar .main-menu ul {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 10px;   
    }

    .top-nav-bar .main-menu li {
        margin: 0px 10px;
        padding: 5px 10px;

        border-right: .5px solid rgb(182, 182, 182);

    }

    .top-nav-bar .social-media-menu {
        margin-top: 10px;
    }

    .page-title {
        margin: 154px 10px 20px;
    
    }
}

@media screen and (min-width: 933px) {
    .top-nav-bar {
        grid-template-columns: 1fr 1fr 1fr 200px;
        grid-template-rows: 1fr 1fr;
    }

    .top-nav-bar .main-menu {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .top-nav-bar .social-media-menu {
        grid-row:  2/3;
        grid-column: 2/4;
        padding: 0px;

    }

    .top-nav-bar .search-bar {
        grid-row: 2/3;
        grid-column: 4/5;
        margin-top: 5px;

    }


    .top-nav-bar .search-bar input {
        border: 1px solid rgb(179, 179, 179);
        border-radius: 20px;
        padding: 6px;
    }

    .page-title {
        margin: 104px 10px 20px;
    
    }
    
}

@media screen and (min-width: 1110px) {
    .top-nav-bar {
        grid-template-columns: auto 480px 345px 200px auto;
        gap: 10px;
        grid-template-rows: 1fr;
     
        
    }

    .top-nav-bar .main-menu {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        border-bottom: 0px;
    }
    .top-nav-bar .main-menu ul {
        margin-bottom: 0px;   
    }

    .top-nav-bar .main-menu li {
        margin: 0px 10px;
        padding: 5px 10px;
        align-self: center;
        border-right: 0px;

        margin-top: 3px;
    }

    .top-nav-bar .social-media-menu {
        grid-column: 3/4;
        grid-row: 1/2;

        background-color: rgb(206, 206, 206);
        padding: 10px 5px;
        margin: 0;

        border-radius: 50px;

    }

    .fa {
        font-size: 18px;
    }

    .top-nav-bar .search-bar {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .page-title {
        margin: 62px auto 20px;
    }
}